*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	background-color: black;
}
.row{
	position: absolute;
	top: 50px;
	width: 100%;
	margin-left: 2.5%;
	margin-top: 40px;


}
.col-md-6{
	color: #E3E0D7;
	
	width: 45%;

	padding:10px;
	margin-right: 2.5%;
	background-image: linear-gradient(#1D1C1A, black);
	margin-top: 20px;
	border: solid grey 2px;
}
#icon{
	margin-right: 2px;
	position: absolute;
	top: 13px;
	left: 25%;
	font-size: 25px;

	
}
#btn{
	font-size: 30px;
	position: absolute;
	left: 45%;
	margin-bottom: 30px;
	top: 30px;
	background-color:#384041; 
	color: #D4E0E2;
	border: solid 0.5px white;
}
#effect
{
	display: none;
	position: relative;


}

#btn{
		
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: #0C0F12;
	

	

}
#btn:hover{
	width: 100px;
	height: 50px;
	transition: 0.1s ease;
	border: solid 0.5px white;

}
#btn:hover #effect{
	display: block;

	position: absolute;
	top: 9px;
	left: 25px;
	font-size: 20px;
	margin-left: 10px;
	transition: 0.1s ease;


	
}
#btn:hover #icon{
	position: absolute;
	left: 8px;
	top: 10px;
	margin-right: 8px;
	
}

.fav1{

	font-size: 20px;
	position: relative;
	top: 45px;
	
	padding: : 5px;
	padding-top: 0px;
	height:870px;
}
.title{
	font-size: 30px;
	position: absolute;
	top: -50px;
	left: 10%;
	color: white;
	font-weight: bold;
	font-family: 'roboto';
	opacity: 0.8;
	text-decoration: underline;
	


}
.outside{
	font-family: 'roboto';
	font-size: 22px;
	color: #FBBA09;
	text-shadow: 1px 1px black;

}
.fav2{
	font-size: 20px;
	position: relative;
	top: 45px;
	
	padding: : 5px;
	padding-top: 0px;
	height: 1200px;

}
.col-md-6:hover{
	transform: scale(1.02);
	border: none;
	transition: 0.3s ease;
}




